@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'dashboard.css';

/* Latar belakang untuk Spinner */
#spinner-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9998;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
    z-index: 9999 !important;
}

/* 
  CSS Animasi untuk Spin.js
  Animasi: spinner-line-fade-quick
*/
@keyframes spinner-line-fade-quick {
  0%, 39%, 100% {
    opacity: 0.25;
  }
  40% {
    opacity: 1;
  }
}
